
@{
    ViewData["Title"] = "Home Page";
}



@model ProductListPartialViewModel

<h1>Index Ürünler Sayfası</h1>

<div class="row">
    <div class="col-md-4">
        <partial name="~/PartialViews/_ProductListPartialView.cshtml" model="@ViewBag.productListPartialViewModel" />
    </div>

    <div class="col-md-4" > 
     @*   1.yol*@
@*    @await Component.InvokeAsync("ProductList", new {Type=0})
*@
        @* 2. yol*@

        <vc:product-list type=0></vc:product-list>

    </div>

</div>


