@model List<ProductListComponentViewModel>
    <table class="table table-success table-striped" >
        <thead>
            <tr>
                <th>Ürün Adı</th>
                <th>Açıklama</th>
            </tr>
        </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
            <td>@item.Name</td>
            <td>@item.TextArea</td>
            </tr>
        }
        </tbody>
    </table>
